<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
 <head>
   <title>Login Page</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <script type="text/javascript">
	   function changePassword(){
	 		var newP = $("#newPassword1").val();
	 		var confirmP = $("#confirmPassword").val();
	 		var regx = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
	 		if(newP.localeCompare(confirmP) == 0){
	 			if(regx.test(newP)){
	 				$("#newPasswordForm").submit();
	 			}
	 			else{
	 				$("#error").html("Password must contain at least 8 characters, at least a number, at least a special character , both upper and lower case letters");
	 				$("#newPassword1").focus();
	 			}
	 		}
	 		else{
	 			$("#error").html("Passwords do not match");
	 		} 		
	 	}
	   
	   function messageClear(){
		$("#error").html("");
	   }
   </script>

   <style>
 .ffooter {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   height: 30px;
   background-color:#e9ffe7;
 }
 </style>
 </head>
 <body>
 <header style="height: 30px;background-color: maroon;">
 </header>
 <div class="container">
   <h2>Customer Change Password
   </h2>
   <img th:src="@{/images/security_questions.png}" alt="Logo" style="height: 140px"/>
    <br/>

    <span th:utext="${error}" id="error" style="color: red;font-size: 18px;font-weight: bold;"></span>

       <span th:utext="${message}" style="color: blue;font-size: 18px;font-weight: bold;"></span>

   <div style="width: 70%">

    <form th:action="@{/customer/changePassword}" method="POST" id="newPasswordForm">
     <div class="form-group">
       <label for="cp"><b>Current Password:</b></label>
         <input type="password"  class="form-control"   name="currentPassword">
     </div>
   <div class="form-group">
       <label for="np"><b>New Password:</b></label>
         <input type="password" style="width: 60%;" class="form-control"  name="newPassword" id="newPassword1" onkeyup="messageClear();">
     </div>

       <div class="form-group">
       <label for="np"><b>Confirm Password:</b></label>
         <input type="password" style="width: 60%;" class="form-control"  name="confirmPassword" id="confirmPassword" onkeyup="messageClear();">
     </div>
     <button type="button" class="btn btn-primary" onclick="changePassword();">Change Password</button>
     <a th:href="@{/customer/account/enquiry}"> 
     <button type="button" class="btn btn-warning">Bank</button>
     </a>
   </form>
   </div>
 </div>
 <footer  class="ffooter">
 </footer>

 </body>
 </html>