<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Customer Enquiry Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <script type="text/javascript">
  function submitEnquiry(){
  	var cname=$("#name").val();
  	var cemail=$("#email").val();
  	var cmobile=$("#mobile").val();
  	var clocation=$("#location").val();
  	var caccType=$("#caccType").val();
  	if(cname.length == 0){
  		$("#error").html("Hey, Name can not be blank..");
  		return;
  	}
  	if(cemail.length == 0){
  		$("#error").html("Hey, Email can not be blank..");
  		return;
  	}
  	if(cmobile.length == 0){
  		$("#error").html("Hey, Mobile number can not be blank..");
  		return;
  	}
  	if(cmobile.length < 10 || cmobile.length > 10){
  		$("#error").html("Please enter valid 10 digit mobile number..");
  		return;
  	}
  	
  	var jsonObj={name:cname,email:cemail,mobile:cmobile,accType:caccType,location:clocation};
  	
  	const options = {
            method: 'POST',
            body: JSON.stringify(jsonObj),
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          };
  	
  	var promise=fetch('/v3/account/enquiry', options);
    promise.then(res => res.json())
    .then(data =>{
   	 if(data.code==200){
   		//submitting 
 		    $("#loginForm").submit();
 		    //document.loginForm.submit();
 		    //document.getElementById("loginForm").submit();
   	 }
   	 else{
   		 $("#error").html(data.message); 
   	 }
    });     
  }
  </script>
  <style>
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>
</head>
<body>
<header style="height: 30px;background-color: maroon;">
</header>
<div class="container">
  <h2>Customer Enquiry Page
  </h2>
  <img th:src="@{/images/customer-en.png}" alt="Logo" style="height: 120px"/>
  <br/>
   <span th:utext="${error}" id="error" style="color: red;font-size: 18px;font-weight: bold;"></span>
  
  <div style="width: 70%">
  
   <form th:action="@{/customer/account/enquiry}" method="POST"  id="enquiryForm"  name="enquiryForm"th:object="${customerSavingVO}" >
  
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" style="width: 60%;" class="form-control" th:field="*{name}" placeholder="Enter name" id="name">
    </div>
  
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" th:field="*{email}" placeholder="Enter email" id="email">
    </div>
    <div class="form-group">
      <label for="mobile">Mobile:</label>
      <input type="text" style="width: 60%;" th:field="*{mobile}"  class="form-control" placeholder="Enter mobile" id="mobile">
    </div>
    
     <div class="form-group">
      <label for="accType">A/C type:</label>
      <select style="width: 60%;"  class="form-control" th:field="*{accType}" id="accType">
         <option value="SAVING">SAVING</option>
         <option value="CURRENT">CURRENT</option>
         <option value="CORPORATE">CORPORATE</option>
         <option value="CHECKING">CHECKING</option>
      </select>
    </div>
   
   <div class="form-group">
      <label for="location">Location:</label>
      <select style="width: 80%;"  class="form-control" th:field="*{location}" id="location">
         <option value="Fremont">Fremont</option>
         <option value="California">California</option>
      </select>
    </div>
   
    <button type="button" class="btn btn-primary" onclick="submitEnquiry();">Submit Enquiry</button>
    <a th:href="@{/customer/login}"> 
    <button type="button" class="btn btn-danger">Login</button>
    </a>
  </form>
  </div>
</div>
<footer  class="ffooter">
</footer>

</body>
</html>
